html, body {
  background-color:#f4d6ff;
  height: 100%;
  width: 100%;}

h1, h2, h3 {
  text-align: center;}

#wrapper {
  width:80%;
  margin:auto;
  background-color:#993399;
  box-shadow:5px 10px;}

div {
  width:90%;
  margin:auto;}

.itembox {
    border: solid 2px;
    border-radius:15px;
    box-shadow: 2px 2px;
    background-color:#d3b4df;
    color:#5d1d5d;
    padding:15px;}

.favorite {
    border:double 2px;
    border-radius: 15px;
    box-shadow: 2px 2px;
    color:#993399;
    background-color:#f3e0fb;
    padding:15px;}

/*
Script for Navigation Links:
*/

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3e0fb;}

.li {
  float: left;}

.li_a {
  display: block;
  color: #5d1d5d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

.li_a:hover {
  background-color: #d3b4df;}