html, body {
  height: 100%;
  width: 100%;
}

table {border: 1px solid; width: 100%;}
tr, th, td {border-bottom: inherit; text-align: left;}
.bb {border-bottom: 1px solid;}
/**I don't like how it looks with the border over every cell, so I did border-bottom instead for inside of the table**/
#nb {border: none;}
.nb tr:nth-child(even) {background-color:#CCCCCC;}
.center {margin: auto; width:65%;}
