/*
:Use the display: none property to hide the unneeded sections for the printout.  We want to keep the header text and the text in the <div id="center">.  Hide the rest, including images.
:Increase the font size of the body text to make it easier to read on paper. 1.25em should work
:Set all background colors to white and all text to black.
:Urls after hyperlinks
*/
#nav, img, #footer, #sidebar{
  display:none;
}

body{
  font-size:1.25em;
  background-color:white;
  color:black;
  margin: 0% 5%;
}

  a::after{
    content: " (" attr(href) ") ";
  }
